.App {
  text-align: center;
}

.container{
  margin: 10px 10px;
  height: 100%;
  min-height: 75vh;
  border-width: 2px;
  border-style: dashed;
  background-color:#e0e3d4;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex-direction: column;
  display: flex;
}

.header{
  background-color: rgb(107, 139, 112);
  color: white;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar{
  width: 20%;
  padding: 10px;
  border-width: 0 2px;
  border-right-style: dashed;
}
  
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav{
  height: 50px;
  display: flex;
  align-items: center;
}

.content-section {
  padding: 10px;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: rgb(107, 139, 112);
  color: white;
  padding: 5px;
}

.spiral-top{
  background-image: url(./images/spiral-top.jpg);
  background-repeat: repeat-x;
  background-size: 50px;;
  height: 50px;
}

.ul-nav{
  list-style: none;
  padding: 30px;
  display: flex;
  align-items: center;
}

.ul-nav li{
  margin-right: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.form-note{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-note-wrapper {
  flex: 1;
  display: flex;
  margin-bottom: 10px;
}

.form-note-textarea {
  font-size: 16px;
  line-height: 1.2;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none; 
  outline: none;
  padding: 10px;
  background-image: url('./images/notepad-bg.jpg'); 
  background-repeat: repeat;
  background-attachment: local;
  resize: none;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-setting-wrapper{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-setting-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-setting-input label {
  flex-shrink: 0;
  margin-right: 40px;
  width: 60px;
}

.form-setting-input select {
  width: 100px;
}

.form-note-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-note-btn input {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  cursor: pointer;
}

.password-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
}

.enable-password{
  margin-right: 10px;
}

.password-input-wrapper {
  position: relative;
  display: inline-block;
}