@font-face {
  font-family: 'edu-tas';
  src: url('./fonts/edu-tas.ttf') format('truetype');
}

@font-face {
  font-family: 'salma-pro';
  src: url('./fonts/salma-pro.otf') format('truetype');
}

@font-face {
  font-family: 'artisan-paris';
  src: url('./fonts/artisan-paris.otf') format('truetype');
}

.App {
  text-align: center;
}

.container{
  margin: 10px 10px;
  height: 100%;
  min-height: 75vh;
  border-width: 2px;
  border-style: dashed;
  background-color:#e0e3d4;
  font-family: 'edu-tas', 'Trebuchet MS';
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex-direction: column;
  display: flex;
}

.header{
  background-color: rgb(107, 139, 112);
  color: white;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar{
  padding: 10px;
  border-width: 0 2px;
  border-right-style: dashed;
  flex-grow: 0;
}
  
.content {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav{
  height: 50px;
  display: flex;
  align-items: center;
}

.content-section {
  padding: 10px;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: rgb(107, 139, 112);
  color: white;
  padding: 5px;
}

.spiral-top{
  background-image: url(./images/spiral-top.jpg);
  background-repeat: repeat-x;
  background-size: 50px;;
  height: 50px;
}

.ul-nav{
  list-style: none;
  padding: 30px;
  display: flex;
  align-items: center;
}

.ul-nav li{
  margin-right: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.form-note{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-note-wrapper {
  flex: 1;
  display: flex;
  margin-bottom: 10px;
  height: 250px;
}

.form-note-textarea {
  font-size: 16px;
  line-height: 1.2em;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none; 
  outline: none;
  padding: 10px;
  background-image: url('./images/notepad-bg.jpg'); 
  background-repeat: repeat;
  background-attachment: local;
  resize: none;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: 'edu-tas', 'Trebuchet MS';
}

.title {
  font-family: 'salma-pro', 'Trebuchet MS';
}

.form-setting-wrapper{
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.form-setting-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-setting-input label {
  flex-shrink: 0;
  margin-right: 40px;
  width: 60px;
}

.form-setting-input select {
  width: 100px;
}

.form-note-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-note-btn input {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  cursor: pointer;
}

.password-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  font-family: 'salma-pro', 'Trebuchet MS';
}

.enable-password {
  margin-right: 10px;
}

.password-input-wrapper {
  position: relative;
  display: inline-block;
}

.publicity-span-public {
font-style: italic;
color: rgb(107, 139, 112);
}

.publicity-span-private {
  font-style: italic;
  color: rgb(136, 85, 14);
  }

.note-info-wrapper {
  display: flex;
  flex-direction: row;
}

.note-id {
width: 45px;
display: flex;
align-items: center;
margin: 0 20px 20px 32px;
font-weight: 700;
text-align: center;
font-family: 'salma-pro', 'Trebuchet MS';
}

.note-path {
width: 258px;
display: flex;
align-items: center;
margin: 0 20px 20px 22px;
font-weight: 700;
text-align: center;
font-family: 'salma-pro', 'Trebuchet MS';
}

.form-password-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 10px 92px;
}

.form-password-btn input {
  padding: 10px 10px;
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  cursor: pointer;
}

.note-publicity {
  font-family: 'edu-tas', 'Trebuchet MS';
}
  
.password-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-password {
margin-top: 23px;
}

.form-password-wrapper {
  display: flex;
  flex-direction: row;
}

.password-wrapper {
  display: flex;
}

.label-password {
  margin-right: 10px;
}

.password-input-access {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  font-family: 'salma-pro', 'Trebuchet MS';
}

.password-access-label {
  margin-bottom: 20px;
}

.note-title {
  margin: 2px 0 16px 0;
  font-size: 18px;
  font-weight: 900;
  font-family: 'artisan-paris', 'salma-pro', 'Trebuchet MS';
}

.note-save {
  margin-top: 10px;
  font-size: 0.8em;
  color: red;
  height: 20px;
}

.title-save {
  font-size: 0.8em;
  color: red;
  height: 20px;
}

.edit-title-input {
  width: 300px;
  height: 20px;
  margin: 0px 0 13px 0;
  font-size: 18px;
  font-weight: 900;
  font-family: 'artisan-paris', 'salma-pro', 'Trebuchet MS';
}

.public-notes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.public-notes-list {
  margin: 0 0 4px;
  padding: 2px 4px 2px 4px;
  border-style: solid;
  border-width: 1px;
}

.recent-notes-header {
margin: 6px 0 48px;
padding: 0px;
text-align: center;
font-size: 18px;
text-decoration: underline;
font-family: 'artisan-paris', 'salma-pro', 'Trebuchet MS';
}

.no-note-found {
margin-top: 23px;
}

.note-deleted {
margin-top: 23px;
}

.trashcan-image {
  margin-left: 20px;
  width: 18px;
  height: 23px;
}